@mixin shadow($size: 'md') {
  @if ($size== 'md') {
    // 0-ось x
    //4px - ось y
    //10px- растушировка
    box-shadow: 0 4px 10px rgba(45, 8, 125, 0.1);
    transition: box-shadow 0.4s ease-in-out;
    &:hover,
    &:focus {
      box-shadow: 0 4px 10px rgba(45, 8, 125, 0.3);
    }
  }

  @if ($size== 'lg') {
    box-shadow: 0 10px 20x rgba(77, 19, 201, 0.1);
    transition: box-shadow 0.4s ease-in-out;
    &:hover,
    &:focus {
      box-shadow: 0 10px 40x rgba(77, 19, 201, 0.3);
    }
  }
}
