@import '../../../assets/styles/mixin.scss';
$gray: #cacaca;

.input {
  @apply relative block mb-5;
  @include shadow();
  > input {
    @apply pb-2 w-full  text-base rounded-md overflow-hidden bg-white block;
    &::placeholder {
      color: $gray;
      text-align: center;
    }
    &:focus-visible {
      @apply border-primary;
    }
  }
}

.error {
  @apply absolute -bottom-4 left-0 w-full text-primary;
  font-size: 0.75rem;
}
